.centered{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 10px;
}

:host{
    display:block;
    text-align: center;
}

.container{
    background-color: lightskyblue ;
}

