.card-header{
    text-align: center;
    background-color: rgb(71, 71, 71);
    padding: 10px;
    color: rgb(255, 251, 251);
}

:host{
    display:block;
    text-align: center;
}

.container{
    background-color: lightblue ;
    color: white;
}

body{
    background-color: lightskyblue;
}
