<h1>會議室使用申請表</h1>
<p style="color:red">請務必填寫正確資料!!!</p>
<form action="action_page.php">
    <div class="container">
    <hr>
    <label for="fid"><b>證號</b></label>
    <input type="text" placeholder="" name="fid" id="fid" required>

    <label for="fname"><b>姓名</b></label>
    <input type="text" placeholder="" name="fname" id="fname" required>
    

    <label for="froom"><b>會議室</b></label>
    <input type="text" placeholder="" name="froom" id="froom" required>

    <label for="fdate"><b>借用日期</b></label>
    <input type="date" placeholder="" name="fdate" id="fdate" required>

    <label for="ftime"><b>借用時間</b></label>
    <input type="time" placeholder="" name="ftime" id="ftime" required>
    <hr>
    </div>

    <button type="submit" class="registerbtn">申請</button> &nbsp;
    <button type="button" class="registerbtn">查詢</button><br>
    <button onclick="closeWin()" style="margin-top:0.25%">關閉</button>


    <!-- 
    <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div> -->
</form>