<h1 style="font-size:xx-large;text-align:center">登入畫面</h1>
<input type="text" #id placeholder="id">
<br>
<button (click)="onSend(id.value)">sign in</button>

<input type="text" #pwd placeholder="pwd">
<br>
<button (click)="onSend(pwd.value)">sign in</button>


{{response}}

<!-- <!DOCTYPE html>
<html>
    <head>
        <title>登入畫面</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 style="text-align:center">登入畫面</h1>

        <form action="process.php" method="post">
            <label for="name">證號：</label>
            <input type="text" id="name" name="name">

            <label for="pwd">密碼：</label>
            <input type="text" id="pwd" name="pwd">
            <br>

            <button>SEND</button>
        </form>

    </body>
</html> -->