.html{
    margin:0px;
    height:100%;
    width:100%;
    background-color: greenyellow;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.form-group{
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
}

label{
    font-size:x-large;
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 475px;
}