.body {
  /* The image used */
  background-image: url("image/green.jpg");
  /* Half height */
  height: 50vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
  
  padding: 5px;
  margin:5px;
  outline: solid rgb(6, 56, 58);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}

.btn:hover{
  background-color: black;
  color: aliceblue;
}

.lb{
  padding: 5px;
  margin:5px;
  background-color: aliceblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
    background-color: rgba(225, 230, 181, 0.884) ;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.178) 5px 5px;
    font-family: DFKai-sb;
    font-size:medium;
}