<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body class="body">
    
    <br><br>
    <div class="container text-center font-weight-bold mb-3 ">
        <div class="row no-gutters text-center">
            <div class="col-12 border border-dark bg-warning">
                <h4>您所申請的會議</h4>
            </div>
            
        </div>
        
            <div>
                <label for="Mname" style="color :azure;" >選擇會議</label>
                <br />
                <select [(ngModel)]="lallalal" class="lb">
                    <option *ngFor="let name of posts ;let i = index" [value]="name.id" >
                        {{name.Mname}}
                    </option> 
                </select>
                
            </div>
            <button class="btn" (click)="onSend(lallalal)">選擇會議</button>
    </div>
    
<app-signin [ts]="response"></app-signin>
    
</body>
</html>