<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body class="body">
    <div class="row no-gutters text-center" >
        <div class="text-white py-2 "style="font-family:DFKai-sb;font-size: xx-large;background-color: rgb(6, 56, 58);">
            <h4>您所申請的活動</h4>
        </div>
    
    </div>
    
    <div class="container text-center mb-3 mt-2 ">
        
            <div>
                <label for="Mname" style="color :rgb(2, 2, 2);font-size: x-large;" >選擇活動</label>
                <br />
                <select [(ngModel)]="lallalal" class="lb">
                    <option *ngFor="let name of res ;let i = index" [value]="name.id" >
                        {{name.name}}
                    </option> 
                </select>
                
            </div>
            <button class="btn" (click)="onSend(lallalal)">選擇活動</button>
    </div>
    
<app-signin [ts]="response"></app-signin>
    
</body>
</html>