.card-header{
    text-align: center;
    background-color: rgb(71, 71, 71);
    padding: 10px;
    color: rgb(255, 251, 251);
}

:host{
    display:block;
    text-align: center;
}

.container{
    background-color: lightblue ;
    color: white;
}

body{
    background-color: rgba(235, 248, 116, 0.829);
    height: 100vh;
}

.form-control.ng-invalid.ng-touched{
    border: red 1px solid;

}
.form-control{
    width: 20%;
    display: inline-table;
}


