.card-header{
    text-align: center;
    background-color: rgb(71, 71, 71);
    padding: 10px;
    color: rgb(255, 251, 251);
}

:host{
    display:block;
    text-align: center;
}

.container{
    background-color: rgba(86, 85, 107, 0.897) ;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.178) 5px 5px;
    font-family: DFKai-sb;
    font-weight: bold;
}

body{
     margin:0px;
    height:100vh;
    width:100%;
    background:url('image/white.jpg')no-repeat center center fixed; 
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.form-control.ng-invalid.ng-touched{
    border: red 2.5px solid;

}
/* .form-control{
    width: 50%;
    display: inline-table;
} */


