<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    

</head>

<body>
    <h1>申請活動申請表</h1>
    <p style="color:red">請務必填寫正確資料!!!</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="container">
            <br>
            <label for="coor"><b>申請人：</b></label>
            <input type="text" class="form-control" name="coor" formControlName="coor">
            &nbsp;&nbsp;

            
            <label for="name"><b>活動名稱：</b></label>
            <input type="text" class="form-control" name="name" formControlName="name">&nbsp;&nbsp;
            
            <label for="place">場地：</label>
            <select name="place" class="form-control" name="place" formControlName="place">
                <option value="a301">會議室一</option>
                <option value="a302">會議室二</option>
            </select>&nbsp;
            

            <br><br>


            <label for="date"><b>活動日期：</b></label>
            <input type="date" class="form-control" name="date" formControlName="date">&nbsp;&nbsp;
            

            <label for="start"><b>起始時間：</b></label>
            <input type="time" class="form-control" name="start" formControlName="start">

            <label for="end"><b>結束時間：</b></label>
            <input type="time" class="form-control" name="end" formControlName="end">
            <br><br>

            <label for="numPpl"><b>預設人數：</b></label>
            <input type="text" class="form-control" name="numPpl" formControlName="numPpl">


            <br><br>
        </div>
        <!-- <button class="btn btn-outline-dark"
        (click)="onSend(name.value,place.value,date.value)">申請</button>&nbsp;&nbsp;&nbsp; -->

        <button type="submit" class="btn btn-outline-dark mt-3">申請</button>&nbsp;&nbsp;&nbsp;
        <a type="submit" class="btn btn-outline-dark mt-3"
            href="http://localhost:4200/%E6%9C%83%E8%AD%B0%E5%AE%A4%E6%9F%A5%E8%A9%A2">查詢</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline-danger mt-3" href="http://localhost:4200/Option">返回</a>&nbsp;&nbsp;&nbsp;
    </form>



</body>

</html>