<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/src/styles.css">
    <script src="style.js"></script>
</head>
<body>
    <br>
    &nbsp;&nbsp;&nbsp;
    <div class="dropdown">
        <button class="dropbtn">會議室</button>
        <div class="dropdown-content">
        <a href="/src/app/component/login/login.component.html">會議室使用申請</a>
        <a href="#">會議使用申請查詢</a>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button" style="background-color:lightslategray;color: white;padding: 15px;font-size: 25px;border: 1px;cursor: pointer;border-radius: 12px;border:1px;">點名</button>

</body>
</html>
