<html>

    <br>
    &nbsp;&nbsp;&nbsp;
    <div class="dropdown">
        <button class="dropbtn">會議室</button>
        <div class="dropdown-content">
        <a href="http://localhost:4200/%E6%9C%83%E8%AD%B0%E5%AE%A4%E7%94%B3%E8%AB%8B">會議室使用申請</a>
        <a href="http://localhost:4200/%E6%9C%83%E8%AD%B0%E5%AE%A4%E6%9F%A5%E8%A9%A2">會議使用申請查詢</a>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <button class="btn" on-click="clickBtn()">簽到</button>

    

</html>
