<form [formGroup]="resgiterActivity" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div class="form-group">
      <label for="product_name">product_name</label>
      <input type="text" class="form-control" id="product_name" formControlName="product_name">
      <div class="text-danger" *ngIf="resgiterActivity.controls.product_name.errors && resgiterActivity.controls.product_name.touched &&resgiterActivity.controls.product_name.invalid">
          <div *ngIf="resgiterActivity.controls.product_name.errors.required">必填</div>
      </div>
      </div>
  
    <button type="submit">送出</button>
  </form>
