<html>
<br><br>
<div class="container" style="background-color: #beaaaaad;">
    <br><br>

    <table style="width:30% ;position: relative;transform: translate(110%, 10%);">

        <tr *ngFor="let post of posts">
            <td>會議名稱</td>
            <td>{{post.Mname}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>會議地點</td>
            <td>{{post.place}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>主辦單位</td>
            <td>{{post.ori}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>會議日期</td>
            <td>{{post.date}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>聯絡人</td>
            <td>{{post.Cperson}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>會議簡述</td>
            <td>{{post.description}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>會議簡述</td>
            <td>{{post.description1}}</td>
        </tr>
        <tr *ngFor="let post of posts">
            <td>會議簡述</td>
            <td>{{post.Mname}}</td>
        </tr>

    </table>

    <br>
    <hr>
    <br>

    <table style="width:30% ;position: relative;transform: translate(110%, 10%);">
        <tr style="background-color:#beaaaa;">
            <th>序號</th>
            <th>姓名</th>
        </tr>
        <tr style="background-color:#ffffff;" *ngFor="let list of lists">
            <td style="width: 5px;">{{list.id}}</td>
            <td>{{list.name}}</td>
        </tr>
    </table>
    <br><br>

</div>
<br><br><br><br>
<form [formGroup]="form" (ngSubmit)="onSubmit(f.value)" #f="ngForm">

    <div class="form-group">
        <label for="Mname">Brand</label>
        <br />
        <select formControlName="Mname" id="Mname">
            <option *ngFor="let name of posts ;let i = index" [ngValue]="name.Mname">{{name.Mname}}
            </option>
        </select>
        <div class="text-danger"
            *ngIf="form.controls.Mname.errors && form.controls.Mname.touched &&form.controls.Mname.invalid">
            <div *ngIf="form.controls.Mname.errors.required">必選</div>
        </div>
    </div>
    <button type="submit">送出</button>
</form>

</html>