table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    
  }
  
  td, th {
    border: 1px solid #5a5959c7;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #e7f0b7cc;
  }
 tr{
  background-color: rgb(252, 234, 78);
 }

  :host{
    background-color: rgb(203, 251, 203);
    
    display: block;
  }