<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <br><br>
    <div class="container text-center font-weight-bold mb-3 ">
        <div class="row no-gutters text-center">
            <div class="col-12 border border-dark bg-warning">
                <h4>您所申請的會議</h4>
            </div>
            <div class="col-12">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-4 border border-dark bg-white">通識必修：18 學分</div>
                    <div class="col-12 col-md-6 col-lg-4 border border-dark bg-white">必修：51 學分</div>
                    <div class="col-12 col-md-6 col-lg-4 border border-dark bg-white">總必修：69 學分</div>
                    <div class="col-12 col-md-6 col-lg-4 border border-dark bg-white">專選：32 學分</div>
                    <div class="col-12 col-md-6 col-lg-4 border border-dark bg-white">通選：10 學分</div>
                    <div class="col-12 col-md-6 col-lg-4 border border-dark bg-white">總學分：128 學分</div>
                </div>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        
            <div class="form-group">
                <label for="Mname">選擇會議</label>
                <br />
                <select formControlName="Mname" id="Mname">
                    <option *ngFor="let name of posts ;let i = index" [ngValue]="name.Mname">{{name.Mname}}
                    </option>
                </select>
            </div>
            <button type="submit">送出</button>
        </form>
        
    </div>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>