.body {
  /* The image used */
  background-image: url("image/green.jpg");
  /* Half height */
  height: 50vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  border: 2px;
  padding: 5px;
  margin:2px;
  
}

