<div class="list-group container">
  <div class="card-header">
    以下是您尚未報名的活動，要參加的同學請點選報名按鈕，確認相關資訊後進行報名
  </div>
  <ul *ngFor="let activity of activities" class="list-group">
    <li  class="list-group-item list-group-item-action">  
      <div  class="col-12 col-md-11 row no-gutters">
        <div class="col-12 text-primary">活動名稱 : <b>{{activity.name}}</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">單號 : <b>{{activity.id}}</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">地點 : <b>{{activity.place}}</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">起始日 : <b>{{activity.sdate}}</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">截止日 : <b>{{activity.edate}}</b></div>
        <div class="text-dark col-6 col-lg-3">時間F : <b>{{activity.timeF}} </b></div>
        <div class="text-dark col-6 col-lg-3">時間T : <b>{{activity.timeT}} </b></div>
        <div class="text-danger col-12 col-sm-6 col-lg-3">活動類別 : <b>其他</b></div>
        <div class="text-danger col-12 col-sm-6 col-lg-3">認證類別 : <b>其他</b></div>
        <div class="text-dark col-12">聯絡人 : <b>{{activity.Cperson}}</b></div>
        <div class="text-dark col-12">計劃人數 : <b>{{activity.numberP}}</b></div>
        <div class="text-dark col-12">備取人數 : <b>{{activity.numberW}}</b></div>
        <div class="text-dark col-12">報名人數 : <b>{{activity.Rnumber}}</b></div>
        <a class="btn btn-outline-dark  col-md-2" href="http://localhost:4200/ResgiterA" target="_blank">報名</a>
      </div>
      
    </li>
  
  </ul>
  
</div>
