<div class="list-group container">
  <div class="card-header">
    以下是您尚未報名的活動，要參加的同學請點選報名按鈕，確認相關資訊後進行報名
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">  
      <div class="col-12 col-md-11 row no-gutters">
        <div class="col-12 text-primary">活動名稱 : <b>壓力山大，撐過就好了？</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">單號 : <b>1111243</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">地點 : <b>第二會議室</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">起始日 : <b>1111012</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">截止日 : <b>1111012</b></div>
        <div class="text-dark col-6 col-lg-3">時間F : <b>17:50 </b></div>
        <div class="text-dark col-6 col-lg-3">時間T : <b>19:50 </b></div>
        <div class="text-danger col-12 col-sm-6 col-lg-3">活動類別 : <b>其他</b></div>
        <div class="text-danger col-12 col-sm-6 col-lg-3">認證類別 : <b>其他</b></div>
        <div class="text-dark col-12">聯絡人 : <b>吳雅雯               ss515@tcust.edu.tw </b></div>
        <div class="text-dark col-12">計劃人數 : <b>12</b></div>
        <div class="text-dark col-12">備取人數 : <b>5</b></div>
        <div class="text-dark col-12">報名人數 : <b>17</b></div>
        
      </div>
      <a class="btn btn-outline-dark " href="pnActOrd.php?OpType=Ord&amp;nNdx=1&amp;ActNo=1111243" target="_bland">報名</a>
    </li>

    <li class="list-group-item list-group-item-action">  
      <div class="col-12 col-md-11 row no-gutters">
        <div class="col-12 text-primary">活動名稱 : <b>壓力山大，撐過就好了？</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">單號 : <b>1111243</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">地點 : <b>第二會議室</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">起始日 : <b>1111012</b></div>
        <div class="text-dark col-12 col-sm-6 col-lg-3">截止日 : <b>1111012</b></div>
        <div class="text-dark col-6 col-lg-3">時間F : <b>17:50 </b></div>
        <div class="text-dark col-6 col-lg-3">時間T : <b>19:50 </b></div>
        <div class="text-danger col-12 col-sm-6 col-lg-3">活動類別 : <b>其他</b></div>
        <div class="text-danger col-12 col-sm-6 col-lg-3">認證類別 : <b>其他</b></div>
        <div class="text-dark col-12">聯絡人 : <b>吳雅雯               ss515@tcust.edu.tw </b></div>
        <div class="text-dark col-12">計劃人數 : <b>12</b></div>
        <div class="text-dark col-12">備取人數 : <b>5</b></div>
        <div class="text-dark col-12">報名人數 : <b>17</b></div>
        
      </div>
      <a class="btn btn-outline-dark " href="pnActOrd.php?OpType=Ord&amp;nNdx=1&amp;ActNo=1111243" target="_bland">報名</a>
    </li>
  
  </ul>

</div>