<html>

    <br>
    &nbsp;&nbsp;&nbsp;
    <div class="dropdown">
        <button class="dropbtn">會議室</button>
        <div class="dropdown-content">
        <a on-click='clickMRegister()'>會議室使用申請</a>
        <a on-click='clickCheck()'>會議使用申請查詢</a>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="dropdown">
        <button class="dropbtn">創辦活動</button>
        <div class="dropdown-content">
            <a on-click="clickEventRegister()">活動申請</a>
            <a on-click="clickEventCheck()">活動申請查詢</a>
            
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <button class="btn" on-click="clickBtn()">簽到</button>

    

</html>
