<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body class="body">
<br><br>
<div class="container " style="background-color: #beaaaaad;">



   <table style="width:30% ;position: relative;transform: translate(130%, 10%);" *ngFor="let post of ress">
         
        <tr >
            <td>活動名稱：</td>
            <td>{{post.name}}</td>
        </tr>
        <tr >
            <td>活動地點：</td>
            <td #place>{{post.place}}</td>
        </tr>
        <tr>
            <td>活動日期：</td>
            <td>{{post.date}}</td>
        </tr>
        <tr>
            <td>主辦人：</td>
            <td>{{post.coordinator}}</td>
        </tr>
        <tr>
            <td>開始時間：</td>
            <td>{{post.start}}</td>
        </tr>
        <tr>
            <td>結束時間：</td>
            <td>{{post.end}}</td>
        </tr>
        <tr>
            <td>預設人數：</td>
            <td>{{post.num_ppl}}</td>
        </tr>


        
        
        
    </table>

    <br><br><br>
    <hr>

<div class="container">
    <table style="width:30% ;display: inline-table;">
        <tr style="background-color:#beaaaa;">
            <th>序號</th>
            <th>姓名</th>
        </tr>
        <tr style="background-color:#ffffff;" *ngFor="let list of lists">
            <!-- <div *ngIf="list.id==v.id"> -->
            <td style="width: 5px;">{{list.id}}</td>
            <td>{{list.name}}</td>
            <!-- </div> -->
        </tr>
        <br><br><br><br>        
    </table>

    <table style="width:30%; display: inline-table;">
        <tr style="background-color:#beaaaa;">
            <th>序號</th>
            <th>姓名</th>
        </tr>
        <tr style="background-color:#ffffff;" *ngFor="let list of lists,let v of truelist">
            <!-- <div *ngIf="list.id==v.id"> -->
            <td style="width: 5px;">{{list.id}}</td>
            <td>{{list.name}}</td>
            <!-- </div> -->
        </tr>
    </table>
</div>
    <button class="btn" (click)="  onSendStart(res)">開始點名</button>
    <button class="btn1" (click)="  onSendEnd(close)">結束點名</button>
    <button class="btn2" (click)="onBack()">返回</button>
   
    
</div>
</body>
</html>