<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bootstrap Site</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="check.component.css">
</head>
<body>
    <div class="container">
        <h1>會議室使用申請查詢</h1>
    </div><br>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="date">日期：</label>
            <input type="date" name="start_date" placeholder="">&nbsp;
            ~   
            <input type="date" name="end_date">&nbsp;&nbsp;  
        </div>&nbsp;

        
        <div class="form-group" >
            <label for="place">場地：</label>
            <select name="froom" id="froom">
                <option value="1">會議室一</option>
                <option value="2">會議室二</option>
            </select>
        </div>&nbsp;
        <div class="checkbtn">
            <a class="btn btn-outline-dark" href="http://localhost:4200/%E6%9C%83%E8%AD%B0%E5%AE%A4%E7%94%B3%E8%AB%8B">申請</a>&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-dark">查詢</button>&nbsp;&nbsp;&nbsp;     
            <a class="btn btn-outline-dark" href="http://localhost:4200/Option" >返回</a>&nbsp;&nbsp;&nbsp;
        </div>
    </form>



    <div class="container">
        <table style="width:100%">
            <tr>
            <th>序號</th>
            <th>場地</th>
            <th>借用日期</th>
            <th>借用時間</th>
            <th>刪除</th>

        </tr>
            <tr>
            <td>1</td>
            <td>會議室一</td>
            <td>2022/05/01</td>
            <td>0800</td>
            <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
            <td>2</td>
            <td>會議室二</td>
            <td>2022/08/15</td>
            <td>1000</td>
            <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
            <td>3</td>
            <td>會議室一</td>
            <td>2022/08/15</td>
            <td>1330</td>
            <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>
            
            <tr>
            <td>4</td>
            <td>會議室二</td>
            <td>2022/08/15</td>
            <td>1530</td>
            <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>
            
            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

            <tr>
                <td>4</td>
                <td>會議室二</td>
                <td>2022/08/15</td>
                <td>1530</td>
                <td><input type="button" value="刪除" onclick="self.close()"></td>
            </tr>

        </table>
        
    </div>
</body>

</html>
